
    /* --bs-bg-opacity: 1; */
    /* background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important; */
    /* background-color: rgba(87, 19, 233, 0.954) !important; */
    /* height: 65px !important; */

/* @media screen and (min-width: 768px) {
    .move {
      display: flex;
      flex-direction: row; 
      align-items: center; 
      /* padding: 10px; 
    }
  }

  @media (min-width: 1200px) {
    .move {
        margin-left: 90px !important  ;
      }
  }

  .rounded-1{
    margin-left: 40px;
    width: 100px;
  } */

  /* Navbar.css */

/* Define the background color for the toggle when it's open */
/* .navbar-toggler.toggled {
    background-color: red;
  }
   */

   .home{
    margin-top: 10px;
   }